.social {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.handel {
  width: 90px;
  height: 90px;
  line-height: 90px;
  /* border-radius: 50%; */
  background: blueviolet;
  transform: scale(1);
}

.handel:hover {
  transform: translateY(-2rem);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 18px 2px;
  margin: 18px 1rem;
  box-shadow: 6px 5px 3px 2px black;
  box-shadow: -5px 1px 6px -1px rgb(90 90 90);
}
  
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa:hover {
  transform: translateY(-1rem);
}
