* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12202f;
}
.pages {
  width: 100%;
  height: 100%;
  padding: 30px;
}
/* section {
  box-shadow: 10px 10px 91px 0px rgb(191, 193, 79);
} */
.row {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.card {
  padding: 32px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  background-color: #075697;
  color: #f6f6f6;
}
h1.card {
  width: 160px;
  height: 91px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.container {
  background: #f6f6f6;

  width: 90%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 2px 5px 0;
}
.name {
  font-family: sans-serif;
  /* box-shadow: 10px 10px 91px 0px rgb(191, 193, 79); */

  font-size: 37px;
  padding-top: 20px;
}

quote {
  font-size: 16px;
  color: #999999;
  font-weight: 50;
  font-style: italic;
  padding-left: 100px;
  padding-right: 100px;
}

.person {
  display: flex;
  justify-content: center;
}
.person div h6 {
  font-size: 10px;
  font-weight: 50;
}

.person :nth-child(2) {
  text-align: left;
}

.seprater {
  background-color: black;
  height: 3px;
  width: 10px;
  margin: auto;
}
.contact h6 a {
  text-decoration: none;
  color: black;
}

.page {
  height: 600px !important;
}
h1.card {
  box-shadow: 0 1px 10px -1px rgb(0 0 0 / 51%);
}

.hide {
  display: none !important;
}
.items h1:active {
  background: #064d86;
}
.items h1:hover {
  background: #064d86;

  /* transform: scale(1.1, 1.1); */
  box-shadow: 1px 10px 91px 0px rgb(240, 230, 99);
  /* z-index: 9999; */
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.select {
  background: #064d86;
}

.subtitle {
  font-size: 19px;
  text-decoration: none;
  color: #868e96 !important;
  font-family: sans-serif !important;
  font-weight: 100;
}
.typewriter h5 {
  font-size: 19px;
  color: #1a1a1ae5;
  font-weight: 100;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.type-cursor {
  color: black;
}
