body .edu {
  width: 100%;
  height: 100%;
  background: #f2f4f8;
}
.qual{
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery {
  width: 100%;
  height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 1px;
  margin: 30px;
  background: transparent;
}

.edu-card > .logo {
  grid-area: logo;
}

.edu-details {
  padding: 10px;
  grid-area: details;
  font-family: sans-serif;
}

.edu > .heading {
  padding: 10px;
  font-size: 30px;
  font-family: sans-serif !important;
  font-weight: normal;
}
.edu-card {
  background: #fff;
  display: grid;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 80%;
  height: 160px;
  text-align: left;
  border-radius: 8px;
  grid-template-areas: "logo details";
  grid-template-columns: 166px 1fr;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.edu-card:hover {
  cursor: pointer;
  animation: none;
  animation: float 2s ease-in-out infinite;
}

.edu-card:hover ~ .edu {
  background: green !important;
}

.edu-details > .title {
  color: #000;
  font-size: 25px;
  font-weight: 100;
  line-height: 0.8;
}

.edu-details > .subtitle {
  color: #868e96 !important;
  font-size: 20px;
  font-weight: 100;
}
.edu-details > .sub {
  color: #000 !important;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.6;
}



.proj1 {
  grid-area: proj1;
  /* background: #007bb5; */
}
.proj2 {
  grid-area: proj2;
  /* background: #cb2027; */
}
.proj3 {
  grid-area: proj3;
  /* background: black; */
}
.proj4 {
  grid-area: proj4;
  /* background: #3b5998; */
}
.proj5 {
  grid-area: proj5;
  /* background: #dd4b39; */
}
.proj6 {
  grid-area: proj6;
  /* background: #125688; */
}

.mywork {
  height: 800px;
}
.projects {
  padding: 30px;
  display: grid;
  grid-template-areas: "proj1 proj2 proj3" "proj4 proj5 proj6";
  /* margin: 4px; */
  row-gap: 10px;
  column-gap: 10px;
  /* align-items: center; */
}

.projects > div {
  background: #020303;
  padding: 40px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  color: white;
  margin: 2px;
}

.project:hover {
  box-shadow: -4px 6px 6px 2px rgb(0 0 0 / 60%);
  /* ================================== */
  /* ==== commented box shadows ========== */
  /* ================================== */
  /* transform: scale(1.1, 1.1); */
  /* box-shadow: 10px 10px 91px rgba(193, 79, 82, 1); */
  /* z-index: 9999; */
  /* border-right: 1px solid transparent;
  border-bottom: 1px solid transparent; */
  cursor: url("/github.png"), auto;
}

.project {
  font-family: sans-serif;
  margin-bottom: 9px;
}

.project h1 {
  padding-bottom: 9px !important;
}

.project p {
  font-size: 10px;
  font-weight: 100;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.2);
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}

.mywork span {
  /* transform: translatey(0px); */
  padding: 40px;
  animation: float 3s ease-in-out infinite;
}

.project-head {
  padding: 20px;
  font-family: sans-serif !important;
  font-weight: normal;
}
.proj-sub,
.edu > .subtitle {
  font-size: 16px;
  padding-top: 4px;
  font-weight: 100;
  color: #868e96 !important;
}

.proj-title {
  font-size: 30px;
  font-weight: 100;
}
