
@font-face {
  font-family: Anurati;
  src: url("/portfolio/Anurati-Regular.otf");
}
@font-face {
  font-family: Cinzel;
  src: url("/portfolio/Cinzel-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #12202f;
}
.pages {
    padding: 30px;
    width: 100%;
    height: 100%;
}

.row {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 16px;
  font-size: 12px;
  text-align: center;
  background-color: #075697;
  color: #f6f6f6;
}
.container {
  background: #f6f6f6;
  width: 90%;
  text-align: center;
}
.name {
  font-family: AQ "Cinzel";
}
.subtitle {
  font-size: 15px;
  color: #1a1a1a;
  font-weight: 100;
}
quote {
  font-size: 10px;
  color: #999999;
  font-weight: 50;
  font-style: italic;
  padding-left: 100px;
  padding-right: 100px;
}

.person {
  display: flex;
  justify-content: center;
}
.person div h6 {
  font-size: 10px;
  font-weight: 50;
}

/* .person :nth-child(1) {
  text-align: right;
} */
.person :nth-child(2) {
  text-align: left;
}

.seprater {
  background-color: black;
  height: 3px;
  width: 10px;
  margin: auto;
}
.contact h6 a {
  text-decoration: none;
  color: black;
}

.page {
  height: 600px !important;
}
