/* .edu {
  background: purple;
  height: 10vh;
  margin: 0;
  padding: 40px;
  display: grid;
}
.projects {
  display: flex;
  padding: 0;
}
.project {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 12px 2px;
  display: grid;
  grid-template-columns: 182px;
  grid-template-rows: 130px 126px 12px;
  grid-template-areas: "image" "text" "stats";
}
.project:not(:first-child) {
  margin-left: -2rem;
}
.project:hover {
  transform: translateY(-1rem);
}

.project:hover ~ .project {
  transform: translateX(2rem);
} */
/* 
.mywork {
  background: purple;
} */
.gallery {
  width: 100%;
  /* background: purple !important; */
  height: 100px;
}

.proj1 {
  grid-area: proj1;
  background: #007bb5;
}
.proj2 {
  grid-area: proj2;
  background: #cb2027;
}
.proj3 {
  grid-area: proj3;
  background: black;
}
.proj4 {
  grid-area: proj4;
  background: #3b5998;
}
.proj5 {
  grid-area: proj5;
  background: #dd4b39;
}
.proj6 {
  grid-area: proj6;
  background: #125688;
}

.mywork {
  height: 800px;
}
.projects {
  padding: 30px;
  display: grid;
  grid-template-areas: "proj1 proj2 proj3" "proj4 proj5 proj6";
  /* margin: 4px; */
  row-gap: 10px;
  column-gap: 10px;
  /* align-items: center; */
}

.projects > div {
  padding: 40px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  box-shadow: 4px 4px 2px 2px black;
  color: white;
  margin: 2px;
}

.project:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 10px 10px 91px 0px rgba(193, 79, 82, 1);
  /* z-index: 9999; */
  /* display: hide; */
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  /* cursor: pointer; */
  cursor: url("/github.png"), auto;
  /* background-color: #fff; */
  /* color: #000; */
}

/* .mywork .project-head {
  font-family: sans-serif;
  width: 680px;
  font-size: 2.25rem; */
/* margin: 60px auto 0; */
/* word-wrap: break-word; */
/* position: relative;
} */

.project {
  font-family: sans-serif;
  margin-bottom: 9px;
}

.project h1 {
  padding-bottom: 9px !important;
}

.project p {
  font-size: 10px;
  font-weight: 100;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-10px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}
.mywork span {
  /* transform: translatey(0px); */
  padding: 40px;
  animation: float 3s ease-in-out infinite;
}

.project-head {
  padding: 20px;
  font-family: sans-serif !important;
  font-weight: normal;
}
.proj-sub {
  font-size: 16px;
  padding-top: 4px;
  font-weight: 100;
  color: #868e96 !important;
}

.proj-title {
  font-size: 30px;
  font-weight: 100;
}
